main.main {
  height: 100%;
  width: calc(100% - 260px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 122px;
  margin-top: 55px;
  min-width: 428px;
}

main.main.small {
  left: 43px;
}
